<div class="row">
    <div class="col-sm-12">


        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
                <h2>Add Hospital Employees</h2>
            </div>
        </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-6" style="background-color: #189fa8;">
            <a routerLink="addRec" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Add Receptionist</a> | &nbsp;&nbsp;
            <a routerLink="addDoc" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Add Doctor</a> |&nbsp;&nbsp;
            <a routerLink="addhelpers" style="text-decoration: none;font-size: large;font-weight: bold;color: white;" >Add Helpers</a> |&nbsp;&nbsp;
            <a routerLink="addlabs" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Add Labs</a>&nbsp;&nbsp;
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-1"></div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>


    </div>
</div>