<div class="row" *ngIf="flagEditDoc">
    <div class="col-sm-12">

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.name" id="name6" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DOB</div>
            <div class="col-sm-3">
                <input type="date" [(ngModel)]="Doc.dob" id="dob4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DOJ</div>
            <div class="col-sm-3">
                <input type="date" [(ngModel)]="Doc.doj" id="doj4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Phone</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.phone" id="phone5" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Email</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.email" id="email6" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Password</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.password" id="pwd6" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Salary</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.salary" id="sal4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Doc.address" id="add6" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <!-- <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Active</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Logged</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Assigned</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div> -->

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DocSpecId</div>
            <div class="col-sm-3">
                <select [(ngModel)]="Doc.docSpecId" class="form-control">
                    <option *ngFor="let docspec of DocspecList" value="{{docspec.docSpecId}}">{{docspec.specialization}}</option>
                    
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <!-- <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DeptNo</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option *ngFor="let dept of DeptList" value="{{dept.deptNo}}">{{dept.dName}}</option>
                    
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div> -->


        <div class="row" style="text-align: center;margin-top: 20px;">
            <div class="col-sm-12">
                <input type="button" id="Reg4" value="Register" class="btn btn-primary" (click)="btn_RegDoc()" /> |
                <input type="button" id="can4" value="Cancel" class="btn btn-danger" (click)="btn_CanDoc()" />
            </div>
        </div>


    
    <br/>
    <br/>
    <br/>
    <br/>
    
    </div>
    
</div>