<div class="row" *ngIf="flagEditHelper">
    <div class="col-sm-12">

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.name" id="name4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DOB</div>
            <div class="col-sm-3">
                <input type="date" [(ngModel)]="Helper.dob" id="dob2" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DOJ</div>
            <div class="col-sm-3">
                <input type="date" [(ngModel)]="Helper.doj" id="doj2" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Phone</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.phone" id="phone3" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Email</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.email" id="email4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Password</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.password" id="pwd4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Salary</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.salary" id="sal2" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="Helper.address" id="add4" class="form-control" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <!-- <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Active</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Logged</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">Assigned</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">DeptNo</div>
            <div class="col-sm-3">
                <select class="form-control">
                    <option value="0">-Select option-</option>
                    
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div> -->


        <div class="row" style="text-align: center;margin-top: 20px;">
            <div class="col-sm-12">
                <input type="button" id="Reg4" value="Register" class="btn btn-primary" (click)="btn_HelpReg()" /> |
                <input type="button" id="can4" value="Cancel" class="btn btn-danger" (click)="btn_HelpCan()" />
            </div>
        </div>


    
    <br/>
    <br/>
    <br/>
    <br/>
    
    </div>
    
</div>