<div class="row">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-sm-12">
        <img src="Images/surgery.jpg" alt="surgery" />
        </div>
        </div>

        <div class="row" style="background-color:#434f57;">
            <div class="col-sm-3" style="margin-left: 10px;" >
                <h5 style="color:aliceblue" >SUBSCRIBE TO OUR HEALTH FEEDS</h5>
                <p style="font-weight: bold;color: aliceblue;">Be the first to Receive the latest important Health information</p>
                <p>Phone*</p>
                <input style="margin-bottom: 30px;" type="text" placeholder="Enter Phone Number" class="form-control" />
                <p>Email*</p>
                <input style="margin-bottom: 30px;" type="text" placeholder="Enter Email" class="form-control" /> 
                <input style="margin-left: 80px;margin-bottom: 20px;" type="button" value="Submit" class="btn btn-secondary" />
            </div>
            <div class="col-sm-3" style="margin-left: 30px;color:aliceblue;">
                <h5>Specialities</h5>
                <p>Arthoscopy & Sports Medicine</p>
                <p>Bariatric Surgery</p>
                <p>Cancer</p>
                <p>Cardiology</p>
                <p>Critical Care</p>
                <p>CT Surgery</p>
                <p>Dermatology</p>
                <p>Emergency services</p>
            </div>
            <div class="col-sm-3" style="margin-left: 30px;color:aliceblue;margin-top: 30px;">
                <p>Nuclear Medicine</p>
                <p>Ophthalmology</p>
                <p>Orthopaedics</p>
                <p>Pain Management</p>
                <p>Pediatrics</p>
                <p>Pediatric Surgery</p>
                <p>Physiotherapy</p>
                <p>Plastic Surgery</p>
                
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</div>