<div class="row">
    <div class="col-sm-12">


        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
                <h2>Manage Hospital Employees</h2>
            </div>
        </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-7" style="background-color: #189fa8;">
            <a routerLink="manageRec" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Manage Receptionist</a> | &nbsp;&nbsp;
            <a routerLink="manageDoc" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Manage Doctor</a> |&nbsp;&nbsp;
            <a routerLink="manageHelpers" style="text-decoration: none;font-size: large;font-weight: bold;color: white;" >Manage Helpers</a> |&nbsp;&nbsp;
            <a routerLink="manageLabs" style="text-decoration: none;font-size: large;font-weight: bold;color: white;">Manage Labs</a>&nbsp;&nbsp;
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>


    </div>

</div>