<div class="row" *ngIf="FlagEdit">
    <div class="col-sm-12">

        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
              <h2>MA Profile</h2>  
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.name" disabled id="name1" class="form-control" />
            </div>
            <div class="col-sm-1">Gender</div>
            <div class="col-sm-3">
                <input type="radio" [(ngModel)]="AdmList.gender" disabled id="btn-male" name="Gender" value="Male"  />Male |
                <input type="radio" [(ngModel)]="AdmList.gender" disabled id="btn-female" name="Gender" value="Female"  />Female 
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">Email</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.email" disabled id="ema1" class="form-control" />
            </div>
            <div class="col-sm-1">Password</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.password" disabled id="pwd1" class="form-control" />
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.address" disabled id="add1" class="form-control" />
            </div>
            <div class="col-sm-1">Active</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.active" disabled id="act1" class="form-control" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">AdminTypeId</div>
            <div class="col-sm-3">
                <select [(ngModel)]="AdmList.adminTypeId" disabled class="form-control" >
                    <option *ngFor="let admtype of AdminTypeList" value="{{admtype.adminTypeId}}" >{{admtype.adminTypeName}}</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                
            </div>
        </div>

        <div class="row" style="margin-top: 50px;text-align: right;margin-right: 30px;">
            <div class="col-sm-12">
                <input type="button" id="edit" value="Edit" class="btn btn-warning" (click)="btn_Edit()" />
            </div>
        </div>



    </div>
</div>


<div class="row" *ngIf="FlagUpdate">
    <div class="col-sm-12">

        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
              <h2>MA Profile</h2>  
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.name" disabled id="name1" class="form-control" />
            </div>
            <div class="col-sm-1">Gender</div>
            <div class="col-sm-3">
                <input type="radio" [(ngModel)]="AdmList.gender" disabled id="btn-male" name="Gender" value="Male"  />Male |
                <input type="radio" [(ngModel)]="AdmList.gender" disabled id="btn-female" name="Gender" value="Female"  />Female 
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">Email</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.email" disabled id="ema1" class="form-control" />
            </div>
            <div class="col-sm-1">Password</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.password" id="pwd1" class="form-control" />
            </div>
        </div>
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.address" id="add1" class="form-control" />
            </div>
            <div class="col-sm-1">Active</div>
            <div class="col-sm-3">
                <input type="text" [(ngModel)]="AdmList.active" disabled id="act1" class="form-control" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-1">AdminTypeId</div>
            <div class="col-sm-3">
                <select [(ngModel)]="AdmList.adminTypeId" disabled class="form-control" >
                    <option *ngFor="let admtype of AdminTypeList" value="{{admtype.adminTypeId}}" >{{admtype.adminTypeName}}</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                
            </div>
        </div>

        <div class="row" style="margin-top: 50px;text-align: right;margin-right: 30px;">
            <div class="col-sm-12">
                <input type="button" id="edit" value="Update" class="btn btn-danger" (click)="btn_Update()" />|
                <input type="button" id="canc" value="Cancel" class="btn btn-success" (click)="btn_Cancel()" />
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>


    </div>
</div>